version: "3.8"
services:
  db:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_DB: erp_sep
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/
      - ./backend/bdd.sql:/docker-entrypoint-initdb.d/bdd.sql

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    depends_on:
      - db
    env_file:
      - .env.docker

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - backend

volumes:
  db_data:
